<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="Stylesheet" href="/css/eidt.css">
</head>
<body>

    <div class="card1">
        <img src="/images/annonna.png"  style="width:100%; height: 400px;">
        <div class="container">
          <p>Mehrin Anannya<br>
            Lecturer,<br>
            Research interest</p> 
        </div>
        </div>
    </div><div class="card"><br><br></div>
<div class="card2">
    <img src="/images/biplobsir.jpg" style="width:100%;height: 400px;">
    <div class="container">
     <p>Md. Biplob Hosen<br>
        Lecturer<br>
        Research interest<br>
        
        Network Security</p>
    </div>
  </div>
  <div class="card3">
    <img src="/images/akkas.jpg" style="width:100% ; height: 400px;">
    <div class="container"> 
      <p>K M Akkas Ali<br>
        Professor<br>
        Research interest<br>
        
        Blockchain Technology</p> 
    </div>
  </div>
  <div class="card5">
    <img src="/images/shamim.jpg"style="width:100%; height:400px;">
    <div class="container">
      <p>Dr. Shamim Al Mamun<br>
        Professor </p> 
    </div>
  </div>
    <div class="card6">
        <img src="/images/jesmin.jpeg"style="width:100%; height:400px;">
        <div class="container">
          <p>Dr. Jesmin Akhter<br>
            Professor  </p> 
        </div>
    </div>
    <div class="card7">
        <img src="/images/sajjad.jpg"style="width:100%; height:400px;">
        <div class="container">
          <p>Dr. Jesmin Akhter<br>
            Professor  </p> 
        </div>
    </div>

</body>
</html>