<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>project work</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/teachers.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUV" crossorigin="anonymous">
</head>
<body>
  <div class="container">
    <header>
    <div  class="img">
        <img width="1500px" height="250px" src="/images/head.png">
        
    </div>
   </header> 
   <nav>
    <div id="menu">
        <ul>
            <li><a href="/index.html">Home</a></li>
            <li><a href="/template/about.html">About </a>
              <ul>
                
                <li>
                  <a href="https://www.google.com/maps/place/Jahangirnagar+University/@23.8798786,90.2726871,15z/data=!4m6!3m5!1s0x3755e99900000001:0x2debf98e950c72ca!8m2!3d23.8798786!4d90.2726871!16zL20vMDYxc21s?entry=ttu">Location</a>
                </li>
              </ul>
              
              </li>
            <li><a href="/template/result.html">Result</a></li>
            <li><a href="/template/teachers.html">Teacher</a></li>
            <li><a href="/template/home.html">Admission</a></li>
        </ul>
     </div><br><br>
   </nav>
   <aside>
    <div class="notice">
        <marquee>Notice:To know about admission click admission . Admission exam start 18 july</marquee>
    </div>
    </aside>


  <div class="prienka">
    <img src="/images/kaisersir.jpg"  style="width:90px">
    <p>
        Dr. M. Shamim Kaiser<br>
        Director<br>
        Institute of Information Technology
    </p>
  </div>
  
  <div class="prienka">
    <img src="/images/annonna.png"  style="width:90px">
    <p> Mehrin Anannya<br>
        Lecturer,<br> 
        Institute of Information Technology
        </p>
  </div>
  
  <div class="prienka">
    <img src="/images/biplobsir.jpg" style="width:90px">
    <p>Md. Biplob Hosen<br>
        Lecturer,<br>
      Institute of Information Technology
    </p>
    <a href="/template/eidt.html">MORE.....................</a>
  </div>

  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
</body>
</html>